/* ------------------
   --- ANIMATIONS ---
--------------------*/

@keyframes fade-in-up {
  0% {
    transform: translateY($default-spacing);
    opacity: 0;
  }
  100% {
    transform: none;
    opacity: 1;
  }
}

.fade-in-up {
  animation: fade-in-up 0.8s $bouncy;
}

@keyframes side-entrance {
  0% {
    transform: translateX(-16px);
    opacity: 0;
  }
  100% {
    transform: none;
    opacity: 1;
  }
}

@keyframes side-entrance-left {
  0% {
    transform: translateX(16px);
    opacity: 0;
  }
  100% {
    transform: none;
    opacity: 1;
  }
}

.side-entrance {
  animation: side-entrance 0.4s $quick;
}
.tooltip-right {
  animation: side-entrance 0.4s $quick 0.4s forwards;
}

.tooltip-left {
  animation: side-entrance-left 0.4s $quick 0.4s forwards;
}

@keyframes expandAccordion {
  0% {
    padding: 0 16px;
    opacity: 0;
  }
  100% {
    padding: 16px;
    opacity: 1;
  }
}

.expandAccordion {
  animation: expandAccordion 0.2s $quick;
}

@keyframes expandSidebarAccordion {
  0% {
    padding-top: 0;
    padding-bottom: 0;
    opacity: 0;
  }
  100% {
    padding-top: 12px;
    padding-bottom: 12px;
    opacity: 1;
  }
}

.expandSidebarAccordion {
  animation: expandSidebarAccordion 0.2s $quick;
}

@keyframes errorShake {
  0% {
    transform: translateX(0);
  }
  20% {
    transform: translateX(1px);
  }
  40% {
    transform: translateX(-1px);
  }
  60% {
    transform: translateX(1px);
  }
  80% {
    transform: translateX(-1px);
  }
  100% {
    transform: none;
  }
}

.error-shake {
  animation: errorShake 0.4s $bouncy;
}

@keyframes glowingPlaceholder {
  0% {
    background-position: -100px;
    transform: translateY($half-spacing);
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  40% {
    transform: translateY(0);
    opacity: 1;
  }

  90% {
    opacity: 0;
    transform: translateY(-8px);
  }
  100% {
    opacity: 0;
    background-position: 300px;
  }
}

.glow {
  animation: glowingPlaceholder 2.4s ease-out infinite;
}
