/* ------------------
   --- ANIMATIONS ---
--------------------*/

@keyframes fade-in-up {
  0% {
    transform: translateY(8px);
    opacity: 0;
  }
  100% {
    transform: none;
    opacity: 1;
  }
}

.fade-in-up {
  animation: fade-in-up 0.6s $bouncy;
}

@keyframes side-entrance {
  0% {
    transform: translateX($app-padding);
    opacity: 0;
  }
  100% {
    transform: none;
    opacity: 1;
  }
}

.side-entrance {
  animation: side-entrance 0.4s $quick;
}

@keyframes expandAccordion {
  0% {
    padding: 0 16px;
    opacity: 0;
  }
  100% {
    padding: 16px;
    opacity: 1;
  }
}

.expandAccordion {
  animation: expandAccordion 0.2s $quick;
}
