@import "../index.scss";

.button {
  cursor: pointer;
  padding: 8px 24px;
  border-radius: 4px;
  font-weight: 600;
  font-size: 16px;
  background-color: $white;
  border: 0.5px solid $white;
  margin-top: 16px;
  margin-right: 16px;
  transition: all 0.05s ease-in;
  &:hover {
    background-color: darken($white, 5);
  }
  &.rounded {
    border-radius: 999px;
  }
}

.primary {
  color: $white;
  background-color: $primary;
  border: 0.5px solid $primary;
  &:hover {
    background-color: darken($primary, 10);
    border: 0.5px solid darken($primary, 10);
  }
  &.outline {
    color: $primary;
  }
}

.secondary {
  color: $white;
  background-color: $secondary;
  border: 0.5px solid $secondary;
  &:hover {
    background-color: darken($secondary, 10);
    border: 0.5px solid darken($secondary, 10);
  }
  &.outline {
    color: $secondary;
  }
}

.warning {
  color: $white;
  background-color: $warning;
  border: 0.5px solid $warning;
  &:hover {
    background-color: darken($warning, 5);
    border: 0.5px solid darken($warning, 5);
  }
  &.outline {
    color: $warning;
  }
}

.outline {
  background-color: $white;
  &:hover {
    background-color: darken($white, 5);
  }
}

.Accordion {
  height: auto;
  overflow: hidden;
  margin: 0 auto 8px;
  .AccordionLabel {
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 16px;
    border-radius: 4px 4px 0 0;
    background-color: lighten($primary, 30);

    font-weight: 600;
    font-size: 16px;
    &:hover {
      background-color: lighten($primary, 25);
    }
    p {
      flex-grow: 1;
      margin: 0;
      color: $dark-grey;
    }
    span {
      font-size: 20px;
      margin: 0;
      color: $dark-grey;
    }
  }
  .AccordionContent {
    padding: 8px 16px;
    border: 0.5px solid lighten($secondary, 40);
    margin: 0 auto;
    border-radius: 0 0 4px 4px;
  }
}
