@import "./base.scss";
@import "./animations.scss";

.App {
  display: flex;
}

.content-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.navigation-bar {
  position: sticky;
  top: 0;
  right: 0;
  background-color: $white;
  height: 36px;
  box-shadow: $low-shadow;
  padding: $default-spacing;
  z-index: 99;
}

/* ------------------
   --- SIDEBAR ---
--------------------*/

.Sidebar {
  display: flex;
  flex-direction: column;
  gap: 2px;
  position: sticky;
  top: 0;
  bottom: 0;
  height: calc(100vh - $double-spacing);
  background-color: $white;
  min-width: 240px;
  padding: $default-spacing;
  box-shadow: $low-shadow;
  z-index: 2;
  .logo {
    width: fit-content;
    max-height: 40px;
    padding: 0 0 $default-spacing $half-spacing;
  }

  .SidebarLink {
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 12px 32px 12px 16px;
    border-radius: $bd-radius;
    transition: padding 0.4s $bouncy;
    cursor: pointer;
    a {
      color: $dark-grey;
      text-decoration: none;
    }
    .icon {
      color: $light-grey;
      font-size: $md-text;
      line-height: 0;
    }
    &:hover {
      background-color: lighten($primary, 40);
    }
    &.active {
      padding: 12px 32px 12px 24px;
      border-left: 4px solid $primary;
      background-color: lighten($primary, 40);
      a {
        color: $primary;
        font-weight: 600;
      }
      .icon {
        color: lighten($primary, 10);
      }
    }
  }
  h4 {
    color: $light-grey;
    font-family: $title-font;
    font-size: $small-text;
    margin: $default-spacing 0 0 $half-spacing;
    text-transform: uppercase;
  }
}

/* ------------------
  --- PAGE CONTENT ---
--------------------*/

.Content {
  padding: $double-spacing ($double-spacing * 2);

  .section-title {
    margin: $default-spacing auto $double-spacing $default-spacing;
    color: $dark-grey;
  }
}

/* ------------------
   --- CONTAINER ---
--------------------*/
.Container {
  background-color: $white;
  padding: $default-spacing;
  border-radius: $bd-radiusL;
  box-shadow: $low-shadow;
  margin-bottom: $double-spacing;
  display: flex;
  flex-direction: column;
  .title-container {
    display: flex;
    gap: $default-spacing;
    margin-bottom: $default-spacing;
    .icon {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 28px;
      height: 28px;
      border-radius: $bd-radius;
      background-color: $ultraLight-grey;
      color: $light-grey;
      font-size: $md-text;
    }
    h3 {
      margin: 0;
      color: $title-grey;
    }
  }
  p:first-of-type {
    margin-top: 0;
  }
}

/* ------------------
   --- HOMEPAGE ---
--------------------*/
.HomePage {
  .icon {
    color: $ternary;
    font-size: 32px;
  }
}

/* ------------------
   --- BUTTON ---
--------------------*/

.button {
  cursor: pointer;
  padding: 12px 24px;
  border-radius: $bd-radius;
  font-weight: 600;
  font-size: $md-text;
  background-color: $white;
  border: 0.5px solid $white;
  margin-bottom: 16px;
  margin-right: 16px;
  transition: all 0.05s ease-in;
  &:hover {
    background-color: darken($white, 5);
  }
  &.rounded {
    border-radius: 999px;
  }
  &.favicon {
    padding: $default-spacing;
    display: inline-flex;
    border-radius: 50%;
    font-size: $big-text;
  }
  .icon {
    margin-right: calc($default-spacing / 2);
    fill: inherit;
    position: relative;
    top: 2px;
    font-size: $big-text;
  }
}

.primary {
  color: $white;
  fill: $white;
  background-color: $primary;
  border: 0.5px solid $primary;
  &:hover {
    background-color: darken($primary, 10);
    border: 0.5px solid darken($primary, 10);
  }
  &.outline {
    color: $primary;
    fill: $primary;
    .favicon {
      fill: $primary;
      font-size: $big-text;
    }
  }
}

.secondary {
  color: $white;
  fill: $white;
  background-color: $secondary-dark;
  border: 0.5px solid $secondary-dark;
  &:hover {
    background-color: darken($secondary-dark, 10);
    border: 0.5px solid darken($secondary-dark, 10);
  }
  &.outline {
    color: $secondary-dark;
    fill: $secondary-dark;
  }
}

.warning {
  color: $white;
  fill: $white;
  background-color: $warning;
  border: 0.5px solid $warning;
  &:hover {
    background-color: darken($warning, 5);
    border: 0.5px solid darken($warning, 5);
  }
  &.outline {
    color: $warning;
    fill: $warning;
  }
}

.alert {
  color: $white;
  fill: $white;
  background-color: $alert;
  border: 0.5px solid $alert;
  &:hover {
    background-color: darken($alert, 5);
    border: 0.5px solid darken($alert, 5);
  }
  &.outline {
    color: $alert;
    fill: $alert;
  }
}

.outline {
  background-color: $white;
  &:hover {
    background-color: darken($white, 5);
  }
}

.cardBtnLink {
  background-color: none;
  border-radius: $bd-radius;
  box-shadow: none;
  border: 1px solid transparent;
  margin-bottom: $double-spacing;
  transition: all 0.4s $quick;
  cursor: pointer;
  &:hover {
    background-color: $white;
    box-shadow: $low-shadow;
    border: 1px solid $ultraLight-grey;
    .thumb-container {
      border-radius: $bd-radius $bd-radius 0 0;
      background-color: darken($alt-bg, 4);
    }
    .caption h4 {
      color: $primary;
    }
    img {
      transform: scale(1.1);
    }
    .thumb-container::after {
      width: 120%;
      height: 240%;
      opacity: 1;
      transition: all 0.4s $bouncy 0.1s;
    }
  }
  .thumb-container {
    width: 100%;
    height: 180px;
    border-radius: $bd-radius;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: darken($alt-bg, 2);

    img {
      width: 160px;
      height: auto;
      z-index: 1;
      transition: all 0.4s $bouncy;
    }
  }
  .caption {
    padding: $default-spacing $default-spacing $double-spacing;
    h4 {
      font-family: $title-font;
      color: $text-grey;
      font-weight: $book;
      margin: 0 0 4px;
    }
    small {
      color: $medium-grey;
    }
  }
}

/* ------------------
   --- ACCORDION ---
--------------------*/

.Accordion {
  height: auto;
  width: 100%;
  overflow: hidden;
  margin: 0 auto 8px;
  &:has(.AccordionContent) .AccordionLabel {
    background-color: lighten($secondary, 15);
    border-radius: $bd-radius $bd-radius 0 0;
  }
  &:has(.AccordionContent) .AccordionLabel:hover {
    background-color: lighten($secondary, 10);
  }
  .AccordionLabel {
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 16px;
    border-radius: $bd-radius;
    background-color: lighten($primary, 40);
    &:hover {
      background-color: lighten($primary, 37);
    }
    p {
      flex-grow: 1;
      margin: 0;
      color: $dark-grey;
      font-size: $big-text;
      font-weight: 600;
    }
    span {
      margin: 0;
      color: $dark-grey;
    }
  }
  .AccordionContent {
    font-size: $md-text;
    padding: 16px;
    border: 0.5px solid lighten($primary, 40);
    background-color: $white;
    margin: 0 auto;
    border-radius: 0 0 $bd-radius $bd-radius;
  }
}

/* ------------------
   --- LABEL ---
--------------------*/

.label-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  label {
    color: $text-grey;
    font-weight: $heavy;
    display: block;
    margin: 4px 4px 8px;
  }
}

/* ------------------
   --- INPUT ---
--------------------*/

.Input-container {
  flex: 1 1 auto;

  &.xs {
    max-width: 160px;
  }
  &.sm {
    max-width: 240px;
  }
  &.md {
    max-width: 320px;
  }
  &.lg {
    max-width: 400px;
  }
  &.xl {
    max-width: 480px;
  }
  &.xxl {
    max-width: 560px;
  }

  .Input-wrapper {
    position: relative;

    .Input {
      width: calc(100% - $default-spacing);
      padding: 12px $half-spacing;
      border-radius: $bd-radius;
      background-color: $white;
      border: 0.5px solid $light-grey;
      height: fit-content;
      font-size: $md-text;
      flex-grow: 1;
      color: $text-grey;
      margin-bottom: $default-spacing;

      &::placeholder {
        color: $light-grey;
      }
      &:focus {
        outline: 0.5px solid $secondary;
      }
    }
    &:has(.Input-error) .Input {
      border: 0.5px solid $alert;
      outline: 0.5px solid $alert;
    }
    small {
      position: absolute;
      left: 4px;

      top: 48px;
    }
    .Input-error {
      color: $alert;

      &:focus {
        outline: 0.5px solid $alert;
      }
    }
  }
}

/* ------------------
   --- DROPDOWN ---
--------------------*/

.Dropdown {
  .Panel {
    position: relative;
    padding: 12px $default-spacing;
    border-radius: $bd-radius;
    background-color: $white;
    border: 0.5px solid $light-grey;
    height: fit-content;
    flex: 1;
    color: $text-grey;
    margin-bottom: $default-spacing;

    cursor: pointer;
    p {
      margin: 0;
      font-size: $md-text;
      flex-grow: 1;
    }
    &:focus {
      outline: 0.5px solid $secondary;
    }
    &:hover {
      background-color: lighten($primary, 40);
    }
    &:has(.Panel-option) {
      border: 0.5px solid $secondary;
    }
    &:has(.Panel-option):hover {
      background-color: $white;
    }
    .Panel-title {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    .Panel-options-container {
      position: absolute;
      margin-top: 20px;
      border-radius: $bd-radius;
      left: 0;
      right: 0;
      overflow: hidden;
      font-size: $md-text;
      z-index: 999;
      box-shadow: $low-shadow;
      &:has(.Panel-option) {
        border: 0.5px solid $light-grey;
      }
    }
    .Panel-option {
      padding: 16px;
      background-color: $white;

      &:hover {
        background-color: lighten($primary, 40);
      }
    }
  }
}
/* ------------------
   --- MODAL ---
--------------------*/

.ModalBackground {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparentize(darken($primary, 35), 0.4);
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
}
.Modal {
  position: fixed;
  z-index: 9999;
  background-color: $white;
  padding: $default-spacing;
  border-radius: $bd-radius;
  box-shadow: 2px 4px 32px -8px transparentize(darken($primary, 35), 0.4);
  top: 30%;

  &.md {
    width: 60%;
    max-width: 560px;
    left: calc(50% - 280px);
  }
  &.lg {
    width: 80%;
    max-width: 800px;
    left: calc(50% - 400px);
  }
}

/* ------------------
   --- TABLE ---
--------------------*/

.Table {
  width: 100%;
  font-size: $md-text;
  thead {
    tr {
      background-color: $ultraLight-grey;
      color: $text-grey;
      text-transform: uppercase;
      th {
        text-align: left;
        font-size: $md-text;
        padding: 16px;
        &:first-child {
          padding-right: 0;
        }
        &:nth-child(2) {
          padding-left: 0;
        }
      }
      th:first-child {
        border-radius: $bd-radius 0 0 0;
      }
      th:last-child {
        border-radius: 0 $bd-radius 0 0;
      }
    }
  }
  tr {
    background-color: $white;
    &:nth-child(even) {
      background-color: $alt-bg;
    }
  }

  td {
    text-align: left;
    padding: 12px 24px;
    font-size: $md-text;
    &:has(.table-avatar) {
      padding-right: 8px;
      padding-bottom: 4px;
    }
    &:nth-child(2) {
      padding-left: 8px;
    }
  }
  .currency {
    text-align: right;
    strong {
      font-size: $md-text;
    }
    &.total {
      background-color: lighten($secondary, 20);
      padding: 16px;
      font-size: $h3-text;
      border-radius: 0 0 $bd-radius $bd-radius;
    }
  }
  .table-avatar {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    border: 1px solid $primary;
  }
  .color {
    width: $default-spacing;
    height: $default-spacing;
    border-radius: 50%;
  }
}

/* ------------------
   --- TOOLTIP ---
--------------------*/

.Tooltip-container {
  position: relative;
  display: inline-block;
  cursor: pointer;
  &:focus {
    outline: none;
  }
  &:hover .Tooltip-icon,
  &:focus .Tooltip-icon {
    color: $primary-light;
  }

  .Tooltip-icon {
    color: $secondary-dark;
    font-size: $big-text;
    pointer-events: none;
  }

  .Tooltip {
    position: absolute;
    top: -16px;
    min-width: 200px;
    background-color: $primary;
    color: $white;
    box-shadow: $high-shadow;
    border-radius: $bd-radius;
    padding: $default-spacing;
    font-size: $small-text;
    z-index: 98;
    &.left {
      left: $double-spacing;
      &:before {
        left: -4px;
      }
    }
    &.right {
      right: $double-spacing;
      &:before {
        right: -4px;
      }
    }
    &:before {
      content: "";
      width: 8px;
      height: 8px;
      transform: rotate(45deg);
      background-color: inherit;
      position: absolute;
      top: 20px;
    }
  }
}
