$primary: #007bff;
$secondary: #6c757d;
$warning: #ffc107;
$white: #fafafa;
$alt-bg: #ebebeb;
$dark-grey: #343a40;
$app-padding: 16px;

$bouncy: cubic-bezier(0, 0.94, 0.36, 1.38);

* {
  font-family: "Poppins", sans-serif;
  color: $dark-grey;
}

html {
  background-color: $white;
}

body {
  padding: 0;
  margin: 0;
  &.overflow-hidden {
    overflow: hidden;
  }
}
